Repository twizzler-operating-system/twizzler, pull requests merged in 2023-08, with the labels that each got.

#136 Fix local APIC timer one-shot mode calculation, and mwait configuration parsing
  src/kernel/src/arch/amd64/apic/local.rs
  src/kernel/src/arch/amd64/processor.rs
Labels: bug, kernel

#137 Fix aarch64 context switch when compiled in release mode
  src/kernel/src/arch/aarch64/thread.rs
Labels: bug, kernel

#139 TLB and PTE cache consistency for aarch64
  src/kernel/src/arch/aarch64/context.rs
  src/kernel/src/arch/aarch64/interrupt.rs
  src/kernel/src/arch/aarch64/memory/pagetables/consistency.rs
  src/kernel/src/arch/aarch64/memory/pagetables/entry.rs
  src/kernel/src/arch/aarch64/mod.rs
Labels: enhancement, kernel

#141 System Calls for aarch64
  src/kernel/src/arch/aarch64/exception.rs
  src/kernel/src/arch/aarch64/interrupt.rs
  src/kernel/src/arch/aarch64/mod.rs
  src/kernel/src/arch/aarch64/syscall.rs
  src/lib/twizzler-abi/src/arch/aarch64/syscall.rs
  src/lib/twizzler-abi/src/lib.rs
Labels: enhancement, kernel, abi
