Repository twizzler-operating-system/twizzler, pull requests merged in 2023-07, with the labels that each got.

#128 Implement Thread-Local Storage Variant I
  src/kernel/src/arch/aarch64/image.rs
  src/kernel/src/arch/aarch64/mod.rs
  src/kernel/src/arch/amd64/image.rs
  src/kernel/src/arch/amd64/mod.rs
  src/kernel/src/image.rs
  src/kernel/src/machine/arm/linker.ld
  src/kernel/src/processor.rs
  src/kernel/target-spec/aarch64-unknown-none.json
Labels: enhancement, kernel

#130 Generate targets in xtask for config.toml dynamically
  toolchain/src/config.toml
  tools/xtask/src/qemu.rs
  tools/xtask/src/toolchain.rs
Labels: enhancement, build system

#131 Fix alignment of early allocation region
  src/kernel/src/memory/allocator.rs
Labels: bug, kernel

#133 Enable debug info in release mode.
  src/kernel/.cargo/config.toml
  src/kernel/Cargo.toml
Labels: build system

#135 Implement initialization of the init program
  src/kernel/src/arch/aarch64/context.rs
  src/kernel/src/arch/aarch64/exception.rs
  src/kernel/src/arch/aarch64/mod.rs
  src/kernel/src/clock.rs
  src/kernel/src/obj/mod.rs
  src/kernel/src/thread.rs
Labels: enhancement, kernel
