Repository twizzler-operating-system/twizzler, pull requests merged in 2024-07, with the labels that each got.

#193 Upcall support for aarch64
  src/kernel/src/arch/aarch64/exception.rs
  src/kernel/src/arch/aarch64/syscall.rs
  src/kernel/src/arch/aarch64/thread.rs
  src/lib/twizzler-abi/src/arch/aarch64/upcall.rs
Labels: kernel, abi

#194 Port parking_lot.
  Cargo.lock
  Cargo.toml
Labels: enhancement

#195 Disable interrupts before return to user during userinit.
  src/kernel/src/arch/amd64/mod.rs
Labels: bug, kernel
