Repository twizzler-operating-system/twizzler, pull requests merged in 2024-04, with the labels that each got.

#174 Fix linking and loading for binaries by monitor, and fix TLS bugs
  src/bin/bootstrap/src/main.rs
  src/kernel/src/arch/amd64/thread.rs
  src/kernel/src/memory/context/virtmem.rs
  src/kernel/src/obj/copy.rs
  src/kernel/src/syscall/mod.rs
  src/lib/twizzler-abi/src/lib.rs
  src/lib/twizzler-abi/src/security.rs
  src/lib/twizzler-runtime-api/src/lib.rs
  src/lib/twizzler-runtime-api/src/rt0.rs
  src/runtime/dynlink/src/context/load.rs
  src/runtime/dynlink/src/context/runtime.rs
  src/runtime/dynlink/src/engines/twizzler.rs
  src/runtime/dynlink/src/error.rs
  src/runtime/dynlink/src/library.rs
  src/runtime/monitor-api/src/lib.rs
  src/runtime/monitor/src/compartment.rs
  src/runtime/monitor/src/init.rs
  src/runtime/monitor/src/lib.rs
  src/runtime/monitor/src/state.rs
  src/runtime/monitor/src/thread.rs
  src/runtime/monitor/src/upcall.rs
  src/runtime/twz-rt/src/lib.rs
  src/runtime/twz-rt/src/preinit.rs
  src/runtime/twz-rt/src/runtime.rs
  src/runtime/twz-rt/src/runtime/alloc.rs
  src/runtime/twz-rt/src/runtime/core.rs
  src/runtime/twz-rt/src/runtime/debug.rs
  src/runtime/twz-rt/src/runtime/thread.rs
  src/runtime/twz-rt/src/runtime/thread/mgr.rs
  src/runtime/twz-rt/src/runtime/thread/tcb.rs
Labels: bug, enhancement, kernel

#175 Port smol (async runtime)
  Cargo.lock
  Cargo.toml
  src/bin/init/Cargo.toml
  src/bin/init/src/main.rs
  src/kernel/Cargo.toml
  src/kernel/src/arch/aarch64/exception.rs
  src/kernel/src/arch/amd64/interrupt.rs
  src/kernel/src/arch/amd64/syscall.rs
  src/kernel/src/arch/amd64/thread.rs
  src/kernel/src/clock.rs
  src/kernel/src/main.rs
  src/kernel/src/memory/context/virtmem.rs
  src/kernel/src/obj/pages.rs
  src/kernel/src/obj/thread_sync.rs
  src/kernel/src/panic.rs
  src/kernel/src/syscall/sync.rs
  src/kernel/src/thread.rs
  src/lib/twizzler-abi/src/syscall/thread_sync.rs
  src/lib/twizzler-futures/Cargo.toml
  src/lib/twizzler-futures/src/lib.rs
  tools/xtask/src/qemu.rs
Labels: bug, enhancement, kernel

#179 Add automatic formatting via pre-commit hooks
  .pre-commit-config.yaml
  .rustfmt.toml
Labels: enhancement

#182 SGI Support for aarch64
  src/kernel/src/arch/aarch64/interrupt.rs
  src/kernel/src/arch/aarch64/processor.rs
  src/kernel/src/machine/arm/common/boot/psci.rs
  src/kernel/src/machine/arm/common/gicv2/gicc.rs
  src/kernel/src/machine/arm/common/gicv2/gicd.rs
  src/kernel/src/machine/arm/common/gicv2/mod.rs
  src/kernel/src/machine/arm/virt/interrupt.rs
  src/kernel/src/processor.rs
Labels: bug, enhancement, kernel, optimization
