Repository twizzler-operating-system/twizzler, pull requests merged in 2024-01, with the labels that each got.

#164 Fix handling of aarch64 system state when switching threads
  src/bin/pager/src/main.rs
  src/kernel/src/arch/aarch64/cntp.rs
  src/kernel/src/arch/aarch64/exception.rs
  src/kernel/src/arch/aarch64/interrupt.rs
  src/kernel/src/arch/aarch64/mod.rs
  src/kernel/src/arch/aarch64/syscall.rs
  src/kernel/src/arch/aarch64/thread.rs
Labels: bug, enhancement, kernel

#165 Refactor dynamic linker, add compartment support
  Cargo.lock
  src/bin/bootstrap/Cargo.toml
  src/bin/bootstrap/src/main.rs
  src/lib/twizzler-abi/src/object.rs
  src/lib/twizzler-abi/src/syscall/create.rs
  src/lib/twizzler-object/src/slot.rs
  src/lib/twizzler-runtime-api/src/lib.rs
  src/runtime/dynlink/Cargo.toml
  src/runtime/dynlink/src/compartment.rs
  src/runtime/dynlink/src/compartment/alloc.rs
  src/runtime/dynlink/src/compartment/load.rs
  src/runtime/dynlink/src/compartment/tls.rs
  src/runtime/dynlink/src/context.rs
  src/runtime/dynlink/src/context/deps.rs
  src/runtime/dynlink/src/context/engine.rs
  src/runtime/dynlink/src/context/load.rs
  src/runtime/dynlink/src/context/relocate.rs
  src/runtime/dynlink/src/context/runtime.rs
  src/runtime/dynlink/src/context/syms.rs
  src/runtime/dynlink/src/engines/mod.rs
  src/runtime/dynlink/src/engines/twizzler.rs
  src/runtime/dynlink/src/error.rs
  src/runtime/dynlink/src/lib.rs
  src/runtime/dynlink/src/library.rs
  src/runtime/dynlink/src/library/deps.rs
  src/runtime/dynlink/src/library/init.rs
  src/runtime/dynlink/src/library/load.rs
  src/runtime/dynlink/src/library/relocate.rs
  src/runtime/dynlink/src/library/tls.rs
  src/runtime/dynlink/src/symbol.rs
  src/runtime/dynlink/src/tls.rs
  src/runtime/monitor/Cargo.toml
  src/runtime/monitor/src/init.rs
  src/runtime/monitor/src/lib.rs
  src/runtime/monitor/src/runtime.rs
  src/runtime/monitor/src/state.rs
  src/runtime/twz-rt/src/lib.rs
  src/runtime/twz-rt/src/monitor.rs
  src/runtime/twz-rt/src/runtime.rs
  src/runtime/twz-rt/src/runtime/core.rs
  src/runtime/twz-rt/src/runtime/object.rs
  src/runtime/twz-rt/src/runtime/thread/internal.rs
  src/runtime/twz-rt/src/runtime/thread/tcb.rs
  tools/xtask/src/main.rs
Labels: enhancement

#166 Implement basic secure gate infrastructure
  Cargo.lock
  src/runtime/dynlink/Cargo.toml
  src/runtime/dynlink/src/context.rs
  src/runtime/dynlink/src/context/load.rs
  src/runtime/dynlink/src/error.rs
  src/runtime/dynlink/src/library.rs
  src/runtime/monitor/Cargo.toml
  src/runtime/monitor/src/lib.rs
  src/runtime/monitor/src/secgate_test.rs
  src/runtime/monitor/src/state.rs
  src/runtime/secgate/Cargo.toml
  src/runtime/secgate/secgate-macros/Cargo.toml
  src/runtime/secgate/secgate-macros/src/lib.rs
  src/runtime/secgate/src/lib.rs
  tools/xtask/src/build.rs
  tools/xtask/src/toolchain.rs
Labels: enhancement, build system

#167 Initial kernel support for security contexts
  src/kernel/src/arch/aarch64/context.rs
  src/kernel/src/arch/amd64/context.rs
  src/kernel/src/arch/amd64/thread.rs
  src/kernel/src/main.rs
  src/kernel/src/memory/context.rs
  src/kernel/src/memory/context/virtmem.rs
  src/kernel/src/memory/mod.rs
  src/kernel/src/security.rs
  src/kernel/src/syscall/mod.rs
  src/kernel/src/syscall/object.rs
  src/kernel/src/thread.rs
  src/kernel/src/thread/entry.rs
  src/lib/twizzler-abi/src/syscall/mod.rs
  src/lib/twizzler-abi/src/syscall/security.rs
Labels: enhancement, kernel

#168 Interrupt driven RX for the PL011 UART driver
  src/kernel/src/arch/aarch64/interrupt.rs
  src/kernel/src/arch/aarch64/mod.rs
  src/kernel/src/machine/arm/common/gicv2/gicd.rs
  src/kernel/src/machine/arm/common/gicv2/mod.rs
  src/kernel/src/machine/arm/common/uart.rs
  src/kernel/src/machine/arm/virt/info.rs
  src/kernel/src/machine/arm/virt/mod.rs
  src/kernel/src/machine/arm/virt/serial.rs
  src/kernel/src/main.rs
Labels: enhancement, kernel
